.chosen-select{
    margin-bottom: 35px;
}

.form-control{
    margin-bottom: 10px;
}

.btn-primary{
    margin: 10px 0 5px 0; 
}

.fa-list-alt{
    padding: 5px;
    margin: 5px;
}

#friendMatch-img{
    width: 250px;
    text-align: center;
}

body{
    margin-top:30px;
}